.container {
  padding: auto;
}

.trip {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: #363A45;
}

.headerText {
  padding: 0.5rem 1rem 0 1rem;
}

.headerText h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.headerText p {
  font-size: 1rem;
  color: #727a9a;
  font-style: italic;
  margin-top: 20px;
}

.trip h2,
.trip  {
  margin: 0;
}

.image {
  position: relative;
  height: 15rem;
}

.trip img {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.summary {
  padding: 1rem 1rem 1rem 1rem;
}